doctype html
html
  include includes/head.jade
  body
    .mainNav
      include includes/nav.jade
    .mainHeader
      .overlay
        include includes/header.jade     
    include includes/footer.jade
